<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>京东</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body class="index">
    <div class="gb clearfix">
        <div class="left"><p><span class="xx">X</span>打开京东App,购物更轻松</p></div>
        <div class="right"><p>立即打开</p></div>
    </div>
    <nav>
        <ul>
            <li class="active"><a href="index.html"><i class="fa fa-home"></i><span>首页</span></a></li>
            <li><a href="sort.html"><i class="fa fa-list"></i><span>搜索</span></a></li>
            <li><a href="#"><i class="fa fa-dot-circle-o"><i class="hot"></i></i><span>觅Me</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i><span>购物车</span></a></li>
            <li><a href="#"><i class="fa fa-user"></i><span>我的</span></a></li>
        </ul>
    </nav>

    <div class="search clearfix">
                <div class="left">
                    <i class="fa fa-qrcode"></i>
                    <span>扫啊扫</span>
                </div>
                <div class="center">
                   <i class="fa fa-search"></i>
                   <i class="fa fa-microphone"></i>
                    <input type="text" placeholder="华为荣耀8">
                </div>
                <div class="right">
                    <i class="fa fa-commenting-o"></i>
                    <span>消息</span>
                </div>
    </div>

    <div class="banner swiper-container">
    <div class=" swiper-wrapper">
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
        <div class="swiper-slide"><img src="img/banner1.jpg"></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
    <div class="main text-center">
        <div class="img">
            <ul class="clearfix">
                <li>
                    <a href="#"><img src="img/10/chaoshi.png">
                    <h5>京东超市</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/haiwai.png">
                    <h5>全球购</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/yi.png">
                    <h5>服装城</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/xian.png">
                    <h5>京东生鲜</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/bang.png">
                    <h5>排行榜</h5></a>
                </li>
            </ul>
            <ul class="clearfix">
                <li>
                    <a href="#"><img src="img/10/chong.png">
                    <h5>充值中心</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/dou.png">
                    <h5>领京豆</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/quan.png">
                    <h5>领券</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/qian.png">
                    <h5>惠赚钱</h5></a>
                </li>
                <li>
                    <a href="#"><img src="img/10/plus.png">
                    <h5>PLUS会员</h5></a>
                </li>
            </ul>
            <div class="btn">
                <div class="d1"></div>
                <div class="d2"></div>
            </div>
        </div>
    </div>
    <div class="news clearfix">
        <div class="left">
           <h3>京东快报：</h3>
       </div>
        <div class="center">
           <div class="center-p">
               <p><span>1荐</span>换新，就今天,万件新品邀你免费...</p>
               <p><span>2荐</span>换新，就今天,万件新品邀你免费...</p>
               <p><span>3荐</span>换新，就今天,万件新品邀你免费...</p>
               <p><span>4荐</span>换新，就今天,万件新品邀你免费...</p>
               <p><span>5荐</span>换新，就今天,万件新品邀你免费...</p>
               <p><span>6荐</span>换新，就今天,万件新品邀你免费...</p>
           </div>
        </div>
        <div class="right">
            <span><a href="#">更多</a></span>
        </div>
    </div>
    <div class="miaosha">
        <div class="miao-top clearfix">
           <div class="left clearfix">
               <h3><i class="fa fa-clock-o"></i><span>京东秒杀</span> <span>8点场</span> <span class="s" id="hour">00</span> : <span class="f" id="hour">00</span> : <span class="m" id="hour">00</span></h3>
           </div>
            <div class="right clearfix">
                <h4>秒杀尖货周一见 </h4><i class="fa fa-chevron-circle-right"></i>
            </div>
        </div>
        <div class="miao-bottom">
            <ul class="clearfix">
                <li><a href="#">
                   <div class="tuijian"></div>
                    <img src="img/miaosha/lvyouqi.jpg">
                    <p>￥139</p>
                    <p><del>￥149</del></p>
                </a></li>
                <li><a href="#">
                    <img src="img/miaosha/lvyouqi.jpg">
                    <p>￥139</p>
                    <p><del>￥149</del></p>
                </a></li>
                <li><a href="#">
                    <img src="img/miaosha/lvyouqi.jpg">
                    <p>￥139</p>
                    <p><del>￥149</del></p>
                </a></li>
                <li><a href="#">
                    <img src="img/miaosha/lvyouqi.jpg">
                    <p>￥139</p>
                    <p><del>￥149</del></p>
                </a></li>
                <li><a href="#">
                    <img src="img/miaosha/lvyouqi.jpg">
                    <p>￥139</p>
                    <p><del>￥149</del></p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="haohuo">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tit">
                        <div class="col-xs-6">
                           <h4>发现好货</h4>
                           <p>发现生活好货</p>
                           <a href="#"><img src="img/haohuo/shouji.jpg"></a>
                        </div>
                        <div class="col-xs-6"><a href="#"><img class="te" src="img/haohuo/lvyouqi.jpg"></a></div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tit2">
                        <div class="col-xs-6">
                            <h4>优品专辑</h4>
                            <p>双摄更出众</p>
                            <a href="#">   <img src="img/haohuo/nvshouji.jpg"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>京东精选</h4>
                            <p>网红护肤</p>
                            <a href="#"><img src="img/haohuo/hufupin.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tit3">
                        <div class="col-xs-6">
                           <h4>排行榜</h4>
                           <p>网络全名挚爱</p>
                            <a href="#"><img src="img/haohuo/wuxiubo.jpg"></a>
                        </div>
                        <div class="col-xs-6"><a href="#"><img class="te" src="img/haohuo/youpan.jpg"></a></div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tit4">
                        <div class="col-xs-6">
                            <h4>新品首发</h4>
                            <p>新品0元试</p>
                            <a href="#">   <img src="img/haohuo/nanshouji.jpg"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>闪购</h4>
                            <p>品牌特卖</p>
                            <a href="#"><img src="img/haohuo/xiezi.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ash">
       <div class="container">
        <div class="bt text-center"><h3>爱/生/活</h3></div>
        
            <div class="row">
            <div class="col-xs-6 f1">
                <h4>玩3C</h4>
                <p>iPhone6 32G金12期免息购</p>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/iPhone6.jpg"></a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/siphone6.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 f1">
                <h4>京东家电</h4>
                <p>领券最高减2000元</p>
                <div class="row tits">
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/tv.jpg"></a>
                        <div class="wuyi">
                            <p><a href="#">五一提前购</a><i class="fa fa-chevron-circle-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/kongtiao.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 f1">
                <h4>京东超市</h4>
                <p>每满199减100</p>
                <div class="row tits">
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/fangshai.jpg"></a>
                        <div class="wuyi">
                            <p><a href="#">玩美出行购</a><i class="fa fa-chevron-circle-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/juzi.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 f1">
                <h4>爱家</h4>
                <p>跨店4免1满200-50 任你选</p>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/chuang.jpg"></a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#"><img src="img/haohuo/zhuoyi.jpg"></a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row siai">
            <div class="col-xs-3">
                <h4>爱宝宝</h4>
                <p>最高199-100</p>
                <img src="img/haohuo/car.jpg">
            </div>
            <div class="col-xs-3">
                <h4>爱美丽</h4>
                <p>粉色纪梵希</p>
                <img src="img/haohuo/kouhong.jpg">
                <div class="wuyi">
                    <p><a href="#">小羊皮</a><i class="fa fa-chevron-circle-right"></i></p>
                </div>
            </div>
            <div class="col-xs-3">
                <h4>爱吃</h4>
                <p>零食199-100</p>
                <img src="img/haohuo/mlik.jpg">
            </div>
            <div class="col-xs-3">
                <h4>爱穿搭</h4>
                <p>新品199-100</p>
                <img src="img/haohuo/xiaobaixie.jpg">
            </div>
        </div>
        <div class="dks">
                <ul class="dk clearfix">
                    <li><a href="#"><img src="img/haohuo/dk1.jpg"></a></li>
                    <li><a href="#"><img src="img/haohuo/dk1.jpg"></a></li>
                    <li><a href="#"><img src="img/haohuo/dk1.jpg"></a></li>
                    <li><a href="#"><img src="img/haohuo/dk1.jpg"></a></li>
                </ul>
            </div>
        </div>
    </div>
            
    <div class="pzss">
       <div class="container">
        <div class="bt text-center"><h3>品/质/时/尚</h3></div>
        
             <div class="row">
                <div class="col-xs-6 f1">
                    <h4>会逛</h4>
                    <p>不知不觉露肉季节已到</p>
                    <div class="row tits">
                        <div class="col-xs-4">
                            <a href="#"><img src="img/haohuo/pinkxie.jpg"></a>
                        </div>
                        <div class="col-xs-4"><a href="#"><img src="img/haohuo/hu.jpg"></a></div>
                        <div class="col-xs-4"><a href="#"><img src="img/haohuo/gaogenxie.jpg"></a></div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <h4>品牌头条</h4>
                    <p>最优质的都在这里</p>
                    <div class="row tits">
                        <div class="col-xs-4">
                            <a href="#"><img src="img/haohuo/neicunka.png"></a>
                            </div>
                        <div class="col-xs-4">
                            <a href="#"><img src="img/haohuo/kongqijinghuaqi.png"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#"><img src="img/haohuo/dianzicheng.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-6 f1">
                    <h4>全球尖货</h4>
                    <p>进口商品直降</p>
                    <div class="row tits">
                        <div class="col-xs-6">
                            <a href="#"><img src="img/haohuo/erji.png"></a>
                            <div class="wuyi">
                                <p><a href="#">全球自营好</a><i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img src="img/haohuo/zhiniaoku.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <h4>奢品大牌</h4>
                    <p>欧米茄新款上市</p>
                    <div class="row tits">
                        <div class="col-xs-6">
                            <a href="#"><img src="img/haohuo/lanbiao.png"></a>
                            <div class="wuyi">
                                <p><a href="#">抢199减10</a><i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img src="img/haohuo/hongbiao.png"></a>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>京东体育</h4>
                            <p>运动大牌聚惠</p>
                            <a href="#"><img src="img/haohuo/yundongxie.png"></a>
                            </div>
                        <div class="col-xs-6">
                            <h4>珠宝首饰</h4>
                            <p>打牌PK</p>
                            <a href="#"><img src="img/haohuo/shouzhuo.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>环球时尚</h4>
                            <p>全球购跨店减</p>
                            <a href="#"><img src="img/haohuo/banxie.png"></a>
                            <div class="wuyi">
                                <p><a href="#">千元券</a><i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <h4>达人精选</h4>
                            <p>明天穿什么</p>
                            <a href="#"><img src="img/haohuo/qunxie.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dks">
                <ul class="dk clearfix">
                    <li><a href="#"><img src="img/haohuo/chihuo.jpg"></a></li>
                    <li><a href="#"><img src="img/haohuo/chihuo.jpg"></a></li>
                    <li><a href="#"><img src="img/haohuo/chihuo.jpg"></a></li>
                    <li><a href="#"><img src="img/haohuo/chihuo.jpg"></a></li>
                </ul>
            </div> 
        </div>  
    </div>
            
    <div class="tstj">
       <div class="container">
        <div class="bt text-center"><h3>特/色/推/荐</h3></div>
        
            <div class="row">
                <div class="col-xs-6 f1">
                    <h4>智能生活</h4>
                    <p>小米滑板车，红点最佳设计</p>
                    <div class="row tits">
                        <div class="col-xs-6">
                            <a href="#"><img src="img/tesetuijian/xiaomi.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img src="img/tesetuijian/shuanglunche.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                                <h4>京东众筹</h4>
                                <p>铝碳智能车</p>
                                <a href="#"><img src="img/tesetuijian/zixingche.png"></a>
                            <div class="wuyi">
                                <p><a href="#">免费送</a><i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                                <h4>生活娱乐</h4>
                                <p>1元抢手机</p>
                                <a href="#"><img src="img/tesetuijian/heiiphone.png"></a>
                            <div class="wuyi">
                                <p><a href="#">一元赢</a><i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <h4>白条商城</h4>
                    <p>大牌0首付 iphone12期免息</p>
                    <div class="row tits">
                        <div class="col-xs-6">
                            <a href="#"><img src="img/tesetuijian/feniphone.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img src="img/tesetuijian/heiiphone.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>爱车生活</h4>
                            <p>满199-100</p>
                            <a href="#"><img src="img/tesetuijian/qiceh.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>大药房</h4>
                            <p>板蓝根8元</p>
                            <a href="#"><img src="img/tesetuijian/banlangen.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>二手清仓</h4>
                            <p>iphone6秒杀</p>
                            <a href="#"><img src="img/tesetuijian/iphone.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>设计师</h4>
                            <p>潮流设计精选</p>
                            <a href="#"><img src="img/tesetuijian/ren.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>陪伴宝宝</h4>
                            <p>一元疯抢</p>
                            <a href="#"><img src="img/tesetuijian/wanju.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>京东拍卖</h4>
                            <p>酒香回味无穷</p>
                            <a href="#"><img src="img/tesetuijian/jiu.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dks">
                <ul class="dk clearfix">
                    <li><a href="#"><img src="img/tesetuijian/shudapai.png"></a></li>
                    <li><a href="#"><img src="img/tesetuijian/shudapai.png"></a></li>
                    <li><a href="#"><img src="img/tesetuijian/shudapai.png"></a></li>
                    <li><a href="#"><img src="img/tesetuijian/shudapai.png"></a></li>
                </ul>
            </div> 
        </div>
    </div>
    <div class="gsc">
       <div class="container">
        <div class="bt text-center"><h3>逛/商/场</h3></div>
        
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>电脑办公</h4>
                            <p>500元神抢券</p>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img class="shu" src="img/aiguangjie/1.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>时尚馆</h4>
                            <p>玛汐打牌日</p>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img class="shu" src="img/aiguangjie/2.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>大家电馆</h4>
                            <p>最高减1500</p>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img class="shu" src="img/aiguangjie/3.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>个护清洁</h4>
                            <p>爆款买一赠一</p>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img class="shu" src="img/aiguangjie/4.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>中外名酒</h4>
                            <p>满299减40</p>
                            <a href="#"><img src="img/aiguangjie/5.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>手机数码</h4>
                            <p>荣耀V9放量</p>
                            <a href="#"><img src="img/aiguangjie/6.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>鞋靴箱包</h4>
                            <p>好货精选</p>
                            <a href="#"><img src="img/aiguangjie/7.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>小家电馆</h4>
                            <p>满300减30</p>
                            <a href="#"><img src="img/aiguangjie/8.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>生鲜馆</h4>
                            <p>满199减20</p>
                            <a href="#"><img src="img/aiguangjie/9.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>家装城</h4>
                            <p>跨万店4免1</p>
                            <a href="#"><img src="img/aiguangjie/10.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>图书音像</h4>
                            <p>每满99减30</p>
                            <a href="#"><img src="img/aiguangjie/11.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>钟表馆</h4>
                            <p>满500减60</p>
                                <a href="#"><img src="img/aiguangjie/12.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dks">
                <ul class="dk clearfix">
                    <li><a href="#"><img src="img/aiguangjie/over.jpg"s></a></li>
                    <li><a href="#"><img src="img/aiguangjie/over.jpg"s></a></li>
                    <li><a href="#"><img src="img/aiguangjie/over.jpg"s></a></li>
                    <li><a href="#"><img src="img/aiguangjie/over.jpg"s></a></li>
                </ul>
            </div>  
        </div>    
    </div>
    <div class="njxy">
      <div class="container">
       <div class="bt text-center"><h3>农/家/小/院</h3></div>
       
            <div class="row">
                <div class="col-xs-6 f1">
                    <h4 class="text-center">——嘻唰唰——</h4>
                    <p class="text-center">“衣服更香人更美”</p>
                    <div class="row tits">
                        <div class="col-xs-6">
                            <a href="#"><img src="img/xiaoyuan/1.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img src="img/xiaoyuan/2.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <h4 class="text-center">——租房一族——</h4>
                    <p class="text-center">“随你领包入住”</p>
                    <div class="row tits">
                        <div class="col-xs-6">
                            <a href="#"><img src="img/xiaoyuan/3.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#"><img src="img/xiaoyuan/4.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>精致客厅</h4>
                            <p>有讲究的客厅</p>
                            <a href="#"><img src="img/xiaoyuan/5.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>本命年</h4>
                            <p>本命行好运</p>
                            <a href="#"><img src="img/xiaoyuan/6.png"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 f1">
                    <div class="row tits">
                        <div class="col-xs-6">
                            <h4>火锅英雄</h4>
                            <p>爱火锅爱生活</p>
                            <a href="#"><img src="img/xiaoyuan/7.png"></a>
                        </div>
                        <div class="col-xs-6">
                            <h4>羽毛小子</h4>
                            <p>羽毛球大神</p>
                            <a href="#"><img src="img/xiaoyuan/8.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fxhd">
       <div class="container">
        <div class="bt text-center"><h3>发/现/好/店</h3></div>
        
            <div class="row">
                <div class="col-xs-6 f1">
                    <h4>精选</h4>
                    <p>20家好店为您推荐</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="#"><img src="img/haodian/images/1_03.gif"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#"><img src="img/haodian/images/2_05.gif"></a>
                            <a href="#"><img src="img/haodian/images/3_06.gif"></a>
                        </div>
                    </div>
                    <p><img class="qijin" src="img/haodian/images/dianming_17.gif">lively家纺旗舰店</p>
                </div>
                <div class="col-xs-6 f1">
                    <h4>女装</h4>
                    <p>女神教室</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="#"><img src="img/haodian/images/4_05.gif"></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#"><img src="img/haodian/images/6_07.gif"></a>
                            <a href="#"><img src="img/haodian/images/7_11.gif"></a>
                        </div>
                    </div>
                    <p><img class="qijin" src="img/haodian/images/dianming2_17.gif">lively家纺旗舰店</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jdzhibo">
       <div class="container">
            <div class="zhibotit">
                <div class="bt text-center"><h3>京/东/直/播</h3></div>
            </div>
            <div class="zbxc">
                <div class="zhibo swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/jdzhibo/zhibo1.jpg"></div>
                        <div class="swiper-slide"><img src="img/jdzhibo/zhibo1.jpg"></div>
                        <div class="swiper-slide"><img src="img/jdzhibo/zhibo1.jpg"></div>
                        <div class="swiper-slide"><img src="img/jdzhibo/zhibo1.jpg"></div>
                        <div class="swiper-slide"><img src="img/jdzhibo/zhibo1.jpg"></div>
                    </div>
                <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="cnxh" >
    <div class="container">
<!--
       <div class="container">
           <div class="row">
               <div class="col-xs-6">
                   <div v-for="arr in arrs" class="like">
                    <img :src="arr.img">
                    <p>{{arr.price1}}{{arr.price2}}</p>
                    <h5>{{arr.price3}}{{arr.price4}}<span>{{arr.price7}}</span></h5>
                   </div>
               </div>
               <div class="col-xs-6">
                   <div v-for="arr in arrs" class="like">
                    <img :src="arr.img2">
                    <p>{{arr.price5}}</p>
                    <h5>{{arr.price6}} <span>{{arr.price7}}</span></h5>
                   </div>
               </div>
           </div>
       </div>
-->
       <ul class="clearfix">
           <li class="like"  v-for="arr in arrs">
               <a :href="arr.link"><img :src="arr.img"></a>
               <p>{{arr.price1}}{{arr.price2}}</p>
               <h5>{{arr.price3}}{{arr.price4}}<span>{{arr.price5}}</span></h5>
               
           </li>
       </ul>
       </div>
    </div>
    <div class="topp">
        <img src="img/10/xiangshang.png">
    </div>
















    <div id="list"></div>
    <script src="bootstrap-3.3.4-dist/js/jquery-1.11.1.min.js"></script>
    <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="js/swiper-4.2.6.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/js.js"></script>


    <script>
        //点击关闭广告


        var gb=document.querySelector(".gb");
        console.log(gb)
        var xx=document.querySelector(".xx")
        if(sessionStorage.gb == "false"){
            gb.style.display="none";
        }else {
            gb.style.display="block";

        }
        xx.onclick=function(){
            gb.style.display="none";
            sessionStorage.gb="false"
            // sessionStorage当前网页上的存储，刷新不显示
        }

        gb.addEventListener("keyup",function(){
            localStorage.name=gb;
        })
        gb=localStorage.name;

        //返回顶部消失和搜索栏背景颜色
        var topp=document.querySelector(".topp");
        var sousuo=document.querySelector(".search")
        var gb=document.querySelector(".gb")
        window.onscroll=function(){
            if(sousuo !=null){
                if(document.body.scrollTop>100){
                    sousuo.style.top = "0";
                    sousuo.style.backgroundColor="black";
                    topp.style.display="inline-block";
                }else{
                    sousuo.style.backgroundColor="transparent";
                    topp.style.display="none";
                    sousuo.style.top = "auto";

                }
            }

        }
    </script>
</body>
</html>